%section.clients
  %h2 Clients      
  = image_tag '1.png', alt: 'Client Name'
  = image_tag '2.png', alt: 'Client Name'
  = image_tag '3.png', alt: 'Client Name'
  = image_tag '4.png', alt: 'Client Name'
  = image_tag '5.png', alt: 'Client Name'
  = image_tag '1.png', alt: 'Client Name'
  = image_tag '2.png', alt: 'Client Name'
  = image_tag '3.png', alt: 'Client Name'