%section.our-team
  %h2 Our Team
  %ul.employees
    %li.vcard
      = image_tag 'team.png', alt: 'Teammate Name', class: 'photo'
      %p.fn Name
      %p.title Developer
    %li.vcard
      = image_tag 'team.png', alt: 'Teammate Name', class: 'photo'
      %p.fn Name
      %p.title Developer
    %li.vcard
      = image_tag 'team.png', alt: 'Teammate Name', class: 'photo'
      %p.fn Name
      %p.title Developer
    %li.vcard
      = image_tag 'team.png', alt: 'Teammate Name', class: 'photo'
      %p.fn Name
      %p.title Developer
    %li.vcard
      = image_tag 'team.png', alt: 'Teammate Name', class: 'photo'
      %p.fn Name
      %p.title Developer
    %li.vcard
      = image_tag 'team.png', alt: 'Teammate Name', class: 'photo'
      %p.fn Name
      %p.title Developer
    %li.vcard
      = image_tag 'team.png', alt: 'Teammate Name', class: 'photo'
      %p.fn Name
      %p.title Developer
    %li.vcard
      = image_tag 'team.png', alt: 'Teammate Name', class: 'photo'
      %p.fn Name
      %p.title Developer
