= semantic_form_for [:admin, @work] , html: { multipart: true } do |f|
  = f.inputs do
    = f.input :name
    = f.input :url
    = image_tag(@work.image_url) if @work.image?
    = f.input :image, as: :file
    = f.input :image_cache, as: :hidden
    = f.input :short_description
    = f.input :description
    = f.input :show_on_mine_page
  = f.buttons